.DS_Store
/.build
/Packages
userdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vs
node_modules
web/node_modules
web/dist
*.wasm
web/public/*.wasm